**

!.gitignore
!.Xresources
!.Xresources.d
!.bash_profile
!.bashrc
!.fehbg
!.ghci
!.gitconfig
!.gitmodules
!.tmux.conf
!.vim
!.vimrc
!.xmobarrc
!.xmonad
!.zshrc
!backgrounds
!dev-env
!docker_start.bat
!oh-my-zsh
!putty_setup.reg
!scripts
!ssh-agent.service
