*

# Repository metadata
!.gitignore
!.gitmodules

# Config folder as a whole
!.config

# AwesomeWM
!.config/awesome/
!.config/awesome/**

# Kitty terminal emulator
!.config/kitty/
!.config/kitty/**

# Neofetch config
!.config/neofetch/
!.config/neofetch/**

# Systemd user units
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/compton.service
!.config/systemd/user/udiskie.service

# Global git configs
!.gitconfig

# Xinit-related stuff
!.xinitrc
!.Xmodmap
!.Xresources
!.Xresources.d/
!.Xresources.d/**

# Zsh stuff
!.zshrc
!.oh-my-zsh
!.oh-my-zsh/
!.oh-my-zsh/**

# Vim stuff
!.vimrc
!.vim/
!.vim/**
.vim/.netrwhist

# XMonad/haskell stuff
!.ghci
!.xmobarrc
!.xmonad/
!.xmonad/**

# Background files
!.backgrounds/
!.backgrounds/**

# tmux
!.tmux.conf

# General-purpose scripts
!.scripts/
!.scripts/**

# Other tools
!.misc/
!.misc/**
