[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".xmonad/xmobar-git"]
	path = .xmonad/xmobar-git
	url = https://github.com/jaor/xmobar.git
[submodule ".xmonad/xmonad-git"]
	path = .xmonad/xmonad-git
	url = https://github.com/xmonad/xmonad.git
[submodule ".xmonad/xmonad-contrib-git"]
	path = .xmonad/xmonad-contrib-git
	url = https://github.com/xmonad/xmonad-contrib.git
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/pack/plugins/start/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".config/awesome/sharedtags"]
	path = .config/awesome/sharedtags
	url = https://github.com/Drauthius/awesome-sharedtags.git
