*

# Repository metadata
!.gitignore
!.gitmodules

# Config folder as a whole
!.config
!.config/awesome/
!.config/awesome/**

# Global git configs
!.gitconfig

# Xresources and its folder
!.Xresources
!.Xresources.d/
!.Xresources.d/**

# Zsh stuff
!.zshrc
!oh-my-zsh/

# Vim stuff
!.vimrc
!.vim/
!.vim/**
.vim/.netrwhist

# XMonad/haskell stuff
!.ghci
!.xmobarrc
!.xmonad/
!.xmonad/**

# Feh and background files
!.fehbg
!backgrounds/
!backgrounds/**

# tmux
!.tmux.conf

# Windows-only
!putty_setup.reg

# General-purpose scripts
!scripts/
!scripts/**

# Not needed on most modern systems
!ssh-agent.service
